<footer class="bg-brown">
    <div class="container">
        <div class="row footer-menu mb-5 mb-md-0">
            <div class="col-12 col-md-6 col-lg-7">
                <div class="row row-gap-5">
                    {% set nodes = craft.navigation.nodes('footerMenuColumn1').all() %}
                    {% if nodes|length %}
                        <div class="col-6 col-md-4">
                            <ul class="d-flex flex-column gap-4">
                                {% nav node in nodes %}
                                    <li>
                                        <a {% if node.url %}href="{{ node.url }}"{% endif %} class="{% if node.active %}is-active{% endif %}"{% if node.newWindow %} target="_blank" rel="noopener"{% endif %} {% for attribute in node.customAttributes %}{{ attribute.attribute }}="{{ attribute.value }}"{% endfor %}>
                                            {{- node.title -}}
                                        </a>
                                    </li>
                                {% endnav %}
                            </ul>
                        </div>
                    {% endif %}
                    {% set nodes = craft.navigation.nodes('footerMenuColumn2').all() %}
                    {% if nodes|length %}
                        <div class="col-6 col-md-4">
                            <ul class="d-flex flex-column gap-4">
                                {% nav node in nodes %}
                                    <li>
                                        <a {% if node.url %}href="{{ node.url }}"{% endif %} class="{% if node.active %}is-active{% endif %}"{% if node.newWindow %} target="_blank" rel="noopener"{% endif %} {% for attribute in node.customAttributes %}{{ attribute.attribute }}="{{ attribute.value }}"{% endfor %}>
                                            {{- node.title -}}
                                        </a>
                                    </li>
                                {% endnav %}
                            </ul>
                        </div>
                    {% endif %}
                    {% set nodes = craft.navigation.nodes('footerMenuColumn3').all() %}
                    {% if nodes|length %}
                        <div class="col-6 col-md-4">
                            <ul class="d-flex flex-column gap-4">
                                {% nav node in nodes %}
                                    <li>
                                        <a {% if node.url %}href="{{ node.url }}"{% endif %} class="{% if node.active %}is-active{% endif %}"{% if node.newWindow %} target="_blank" rel="noopener"{% endif %} {% for attribute in node.customAttributes %}{{ attribute.attribute }}="{{ attribute.value }}"{% endfor %}>
                                            {{- node.title -}}
                                        </a>
                                    </li>
                                {% endnav %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 offset-lg-1 mt-5 mt-md-0">
                <div class="up-to-date">
                    {% dynamicInclude '_dynamic/email-sign-up' %}
                </div>
            </div>
        </div>
        <!-- <h1>HALO</h1> -->
        <div class="footer-title-image">
            <img class="img-fluid" src="/static/images/h1.png" alt="h1'">
        </div>
    </div>
</footer>