<header class="main-header-top">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container">
            <a class="navbar-brand" href="{{ getenv('PRIMARY_SITE_URL') }}">
                {% set logo = siteGlobals.image.eagerly().one() %}
                {% set entryLogo = entry.logo.eagerly().one() %}
                {% if entryLogo and entryLogo.extension == 'svg' %}
                    {{ svg(entryLogo) }}
                {% elseif logo and logo.extension == 'svg' %}
                    {{ svg(logo) }}
                {% else %}
                    <img class="img-fluid" src="{{ getenv('PRIMARY_SITE_URL') ~ '/static/images/halohair-logo.svg' }}" alt="{{ siteName }}">
                {% endif %}
            </a>
             <button class="navbar-toggler nav-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navbar-light ms-auto me-auto mb-2 mb-lg-0">

                    {% set nodes = craft.navigation.nodes('mainNavigation1').all() %}
                    {% nav node in nodes %}
                        {% if 'salary-benefits' in node.url %}
                            <li class="nav-item dropdown dmenu">
                                <a class="nav-link dropdown-toggle" href="{{ node.url }}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{- node.title -}} <span class="dropdown-icon"></span></a>
                                {% include '_includes/benefits-menu' %}
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a {% if node.url %}href="{{ node.url }}"{% endif %} class="nav-link{% if node.active %} is-active{% endif %}"{% if node.newWindow %} target="_blank" rel="noopener"{% endif %} {% for attribute in node.customAttributes %}{{ attribute.attribute }}="{{ attribute.value }}"{% endfor %}>
                                    {{- node.title -}}
                                </a>
                            </li>
                        {% endif %}
                    {% endnav %}
                </ul>
                <div class="d-flex">
                    <a href="{{ url('apply') }}" class="apply-btn">Apply</a>
                </div>
            </div>
        </div>
    </nav>
</header>