<header class="main-header-top w-100 top-0">
     <div class="header-top-bar bg-silver-light py-2">
         <div class="container">
             <div class="text-black d-flex flex-wrap gap-2 justify-content-between align-items-center">
                 <div>
                     <a class="text-uppercase" href="{{ currentSite.baseUrl }}">HALO HAIR {% if currentSite.handle == 'main' %}Group{% else %}{{ currentSite.name }}{% endif %}</a>
                 </div>
                 <div>
                    <ul class="d-flex gap-3 list-unstyled mb-0">
                         <li><a class="text-uppercase" href="https://jobs.halohairgroup.com/">JOBS</a></li>
                         <li><a class="text-uppercase" href="{{ url('coming-soon') }}">SELECT A SALON</a></li>
                    </ul>
                 </div>
             </div>
         </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light py-3 bg-brown">
        <div class="container">
            <a class="navbar-brand" href="{{ currentSite.baseUrl }}">
                {% set logo = siteGlobals.image.eagerly().one() %}
                {% if logo and logo.extension == 'svg' %}
                    {{ svg(logo) }}
                {% else %}
                    <img class="img-fluid" src="{{ getenv('PRIMARY_SITE_URL') ~ '/static/images/halohair-logo.svg' }}" alt="{{ siteName }}">
                {% endif %}
            </a>
             <button class="navbar-toggler nav-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0 gap-lg-3 gap-xl-4 gap-xxl-5">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('coming-soon') }}">Prices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('coming-soon') }}">Meet our Stylists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('coming-soon') }}">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('coming-soon') }}">Location</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('coming-soon') }}">Colour</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('coming-soon') }}">About Us</a>
                    </li>
                </ul>
                <div class="d-flex gap-3 align-items-center desktop-navbar-toggler">
                    {% if siteGlobals.bookButton %}<a class="apply-btn" href="{{ siteGlobals.bookButton.value }}">{{ siteGlobals.bookButton.label }}</a>{% endif %}
                    <div>
                        <button class="navbar-toggler nav-icon d-lg-block d-none top-0 me-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>