{% set siteGlobals = craft.entries().section('siteGlobals').site('haloGroup').one() %}
<section class="looking-for">
    <div class="container">
        <div class="work-at-halo">
            <div class="row align-items-start row-gap-5">
                <div class="col-12 col-lg-6">
                    {{ siteGlobals.text2 }}
                    {% if siteGlobals.cta2 %}
                        {{ tag('a', {
                            text: siteGlobals.cta2.label,
                            href: siteGlobals.cta2.value,
                            class: 'btn benefits btn-black'
                        }) }}
                    {% endif %}
                </div>
                <div class="col-12 col-lg-6">
                    <ul>
                        {% for bulletPoint in siteGlobals.bulletPoints %}
                            <li><img src="/static/svg/check.svg"> {{ bulletPoint.text }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="work-at">
    <div class="container">
        <div class="work-at-halo">
            <div class="row align-items-start row-gap-5">
                <div class="col-12 col-lg-5 text-white">
                    {% if siteGlobals.heading %}<h2>{{ siteGlobals.heading }}</h2>{% endif %}
                    {{ siteGlobals.text }}
                    {% if siteGlobals.cta %}
                        {{ tag('a', {
                            text: siteGlobals.cta.label,
                            href: siteGlobals.cta.value,
                            class: 'btn benefits'
                        }) }}
                    {% endif %}
                </div>
                <div class="col-12 col-lg-6 offset-lg-1">
                    <div class="email-form">
                        {% if siteGlobals.formText %}<h4>{{ siteGlobals.formText|nl2br }}</h4>{% endif %}
                        {# % if craft.app.session.hasFlash('wheelformSuccess') % #}
                            <div class="alert alert-success bg-success d-none" role="alert">
                                <p class="text-white opacity-100 w-100 mw-100 mb-0">{# { craft.app.session.getFlash('wheelformSuccess') } #}Thank you for showing an interest in working for Halo Hair Group. Our team will be in contact with you soon.</p>
                            </div>
                            {# % js %}
                                $(document).ready(function() {
                                    $('html, body').animate({scrollTop: $(".work-at-halo").offset().top}, 1000);
                                })
                            {% endjs % #}
                        {# % endif % #}

                        {% dynamicInclude '_dynamic/apply-form-full' with {pageSlug: entry.slug} only %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>