<section class="i-love-working ">
    <div class="container">
        <div class="work-at-halo">
            {% for videoTestimonial in entry.videoTestimonials.type('videoTestimonial').all() %}
                <div class="row align-items-center row-gap-5{% if loop.index % 2 == 0 %} flex-row-reverse{% endif %}">
                    <div class="col-12 col-md-6 ">
                        <div class="video-content">
                            {{ videoTestimonial.testimonialText }}
                            {% set photo = videoTestimonial.authorPhoto.eagerly().one() %}
                            {% set videoPoster = videoTestimonial.videoPoster.eagerly().one() %}
                            <h5>{% if photo %}<img src="{{ photo.url('authorThumb') }}" class="rounded-circle" alt="{{ videoTestimonial.testimonialAuthor }}" />{% endif %} {% if videoTestimonial.testimonialAuthor %}<span>{{ videoTestimonial.testimonialAuthor }}</span>{% if videoTestimonial.authorDesignation %}, {{ videoTestimonial.authorDesignation }}{% endif %}</h5>{% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card">
                            <h4>Halo</h4>
                            {% if videoTestimonial.video %}
                                <div class="video-poster position-relative d-block">
                                    {% if videoPoster %}
                                        <img src="{{ videoPoster.url }}" alt="{{ videoTestimonial.video.media.title }}" />
                                    {% elseif photo %}
                                        <img src="{{ photo.image }}" alt="{{ videoTestimonial.video.media.title }}" />
                                    {% endif %}
                                    <button type="button" class="video-btn position-absolute top-50 start-50 translate-middle border-0 mt-0" data-bs-toggle="modal" data-src="{{ videoTestimonial.video.media.url }}" data-bs-target="#video-popup"><img src="/static/svg/play.svg" alt="" width="48"></button>
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6 like-share">
                                        <a href="{{ videoTestimonial.video.media.url }}" target="_blank">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M22.2815 3.61523C19.6149 3.61523 17.6001 4.6819 16.0001 6.93375C14.4001 4.74116 12.3852 3.67449 9.71857 3.67449C5.33339 3.61523 1.77783 7.46709 1.77783 12.2078C1.77783 16.5338 4.97783 19.3189 8.05931 21.9856C8.41487 22.2819 8.82968 22.6375 9.18524 22.993L10.5482 24.1782C13.1556 26.4893 14.4593 27.6745 15.0519 28.0301C15.3482 28.2078 15.7038 28.3263 16.0001 28.3263C16.2964 28.3263 16.6519 28.2078 16.9482 28.0301C17.5408 27.6745 18.6075 26.7263 21.5704 24.0004L22.7556 22.9338C23.1704 22.5782 23.526 22.2226 23.9408 21.9263C27.0815 19.3189 30.2223 16.593 30.2223 12.2078C30.2223 7.46709 26.6667 3.61523 22.2815 3.61523Z" fill="#353535"/>
                                            </svg>
                                        </a>
                                        <a href="{{ videoTestimonial.video.media.url }}" target="_blank">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M28.3923 28.2121L26.9546 22.8501C26.8721 22.5496 26.9134 22.2255 27.0548 21.9427C28.3098 19.4267 28.7282 16.4216 27.9563 13.2869C26.9075 9.04443 23.596 5.63867 19.3653 4.51324C18.2104 4.21274 17.0732 4.06543 15.9713 4.06543C8.06388 4.06543 1.88874 11.4838 4.02176 19.739C5.01167 23.5572 9.08914 27.5109 12.925 28.4419C13.9621 28.6953 14.9814 28.8131 15.9713 28.8131C18.0985 28.8131 20.0901 28.2651 21.8401 27.3224C22.0345 27.2163 22.2525 27.1574 22.4647 27.1574C22.5707 27.1574 22.6768 27.1692 22.7829 27.1986L28.0034 28.5951C28.0329 28.601 28.0624 28.6069 28.0859 28.6069C28.2863 28.6069 28.4454 28.4183 28.3923 28.2121ZM25.3048 23.292L26.1179 26.3266L23.2248 25.5547C22.9773 25.4898 22.7239 25.4545 22.4647 25.4545C21.9697 25.4545 21.4689 25.5841 21.0211 25.8257C19.4478 26.6742 17.7508 27.1043 15.9713 27.1043C15.0934 27.1043 14.2037 26.9924 13.3257 26.7803C10.079 25.9907 6.50242 22.5024 5.6775 19.3088C4.81722 15.9738 5.49483 12.5503 7.53357 9.91649C9.57231 7.28263 12.6481 5.7742 15.9713 5.7742C16.9495 5.7742 17.9453 5.90383 18.9293 6.16898C22.5648 7.13532 25.3872 10.0225 26.3006 13.6993C26.9428 16.292 26.6777 18.8787 25.5287 21.1826C25.1987 21.8425 25.1162 22.5908 25.3048 23.292Z" fill="#1D1D1F"/>
                                            </svg>

                                        </a>
                                        <a href="{{ videoTestimonial.video.media.url }}" target="_blank">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M29.0533 5.50421C28.8547 5.15368 28.4749 4.94336 28.066 4.94336L3.94369 4.96089C3.45879 4.96089 3.03815 5.25884 2.86873 5.70868C2.74604 6.03584 2.77525 6.38637 2.93883 6.67264C3.0031 6.7778 3.08489 6.87712 3.18421 6.96475L12.4791 14.9802L14.7459 27.0209C14.8335 27.4941 15.1957 27.8447 15.6748 27.9206C16.148 27.9965 16.6153 27.7745 16.8607 27.3598L29.0475 6.64343C29.2578 6.28706 29.2578 5.85474 29.0533 5.50421ZM5.58534 6.69601L25.2267 6.69601L13.4022 13.4437L5.58534 6.69601ZM16.1713 25.0696L14.2668 14.951L26.1089 8.19745L16.1713 25.0696Z" fill="#1D1D1F"/>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="col-6 save">
                                        <a href="{{ videoTestimonial.video.media.url }}" target="_blank">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M24.8889 27.1107H24.8882C24.8536 27.1107 24.8067 27.0971 24.7605 27.05L24.7605 27.0499L16.635 18.7557L16 18.1075L15.365 18.7557L7.23948 27.0499L7.23939 27.05C7.20356 27.0866 7.16703 27.103 7.13788 27.1086C7.10935 27.114 7.07861 27.1111 7.04644 27.0961C7.01327 27.0807 6.97414 27.0499 6.94198 26.9971C6.90951 26.9438 6.88887 26.875 6.88889 26.7999V26.7996L6.88889 5.19998C6.88889 5.09635 6.92764 5.00941 6.97766 4.95539L6.32544 4.35147L6.97766 4.95539C7.02555 4.90367 7.07521 4.88889 7.11111 4.88889L24.8889 4.88889C24.9248 4.88889 24.9744 4.90367 25.0223 4.95539C25.0724 5.00941 25.1111 5.09634 25.1111 5.19998V26.7996C25.1111 26.9032 25.0724 26.9902 25.0223 27.0442C24.9745 27.0959 24.9248 27.1107 24.8889 27.1107Z" stroke="#1D1D1F" stroke-width="1.77778"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>