{% if entry.employeeSpeaks.count() %}
  {% for block in entry.employeeSpeaks.type(['employeeVideo', 'employeeText']).eagerly().all() %}
    {% if block.type == 'employeeVideo' %}
      {% set video = block.video.eagerly().one() %}
      {% if video %}
        <section class="recruitment-section position-static">
          <div class="player-wrapper position-relative mb-5">
            <!-- YouTube Video -->
            <div class="video-player" id="player1">
              {% if video.extension == 'mp4' %}
                <video class="w-100">
                  <source src="{{ video.url }}" type="video/mp4">
                </video>
              {% else %}
                {% set vid = craft.embeddedAssets.get(video) %}
                {% if vid.providerName|lower in ['youtube', 'vimeo', 'wistia', 'dailymotion'] %}
                  <div class="embed-responsive embed-responsive-16by9">
                    {{ vid.getIframeCode(
                        ['autoplay=0', 'controls=1', 'playsinline=1, muted=0'],
                        ['loading=lazy', 'class=embed-responsive-item'],
                        ['frameborder']
                    ) }}
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
          {% if block.videoText %}
            <div class="container">
              <div class="director-container position-relative">
                <div class="director end-0">
                  {{ block.videoText }}
                </div>
              </div>
            </div>
          {% endif %}
        </section>
    {% endif %}
  {% elseif block.type == 'employeeText' %}
    <section class="working-section">
      <div class="container">
        <div class="working-bx">
          {{ svg('@webroot/static/svg/quote-mark.svg') }}
          {{ block.testimonialText }}
          <h4 class="mb-0">{{ block.employeeName }}</h4>
        </div>
      </div>
    </section>
  {% endif %}
  {% endfor %}
{% endif %}