{% set heroImage = entry.heroImage.eagerly().one() %}
{% set heroVideo = entry.heroVideo.eagerly().one() %}
{% if heroImage %}
    <section class="banner-section overlay position-relative d-flex align-items-end d-md-block" style="background-image: url({{ heroImage.url }});">
        <div class="container">
            <div class="row align-items-center row-gap-4 position-relative z-2 text-white">
                <div class="col-12 col-lg-6">
                   <div class="banner-text-content d-flex flex-column justify-content-center h-100">
                        {{ entry.heroText }}
                   </div>
                </div>
            </div>
        </div>
    </section>
{% elseif heroVideo %}
    {% set vid = craft.embeddedAssets.get(heroVideo) %}
    <section class="banner-video position-relative overflow-hidden">
        {% if vid.providerName|lower == 'vimeo' %}
            <iframe 
                class="auto-player" 
                src="https://player.vimeo.com/video/{{ vid.getVideoId() }}?autoplay=1&loop=1&muted=1&controls=0" 
                frameborder="0" 
                allow="autoplay; fullscreen; picture-in-picture" 
                allowfullscreen>
            </iframe>
        {% elseif vid.providerName|lower == 'youtube' %}
            <iframe 
                class="auto-player" 
                src="https://www.youtube.com/embed/{{ vid.getVideoId() }}?controls=0&loop=1&showinfo=0&rel=0&enablejsapi=1" 
                title="Halo Hair Group" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        {% endif %}
        <div class="container">
            <div class="row align-items-center row-gap-4 text-white">
                <div class="col-12 col-lg-6">
                   <div class="banner-text-content position-absolute">
                        {{ entry.heroText }}
                   </div>
                </div>
            </div>
        </div>
    </section>
    {% js %}
        var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        function onYouTubeIframeAPIReady() {
         document.querySelectorAll('.auto-player').forEach((item) => {
             new YT.Player(item, {
                 events: {
                     'onReady': (event) => {
                         event.target.playVideo();
                         event.target.mute();
                     }
                 }
             })
         })
        }

        const iframeYT = document.querySelector(".banner-video iframe");
        const style = document.createElement("style");
        iframeYT.contentDocument.head.appendChild(style);
        console.dir(iframeYT.contentDocument);
    {% endjs %}
{% endif %}