<section class="why-visit pt-100 pb-md-5 pb-4">
    <div class="container">
        {% if block.title %}
            <div class="section-title pb-md-2 section-title-md text-sm-center mb-4 mb-md-5">
                <h2>{{ block.title }}</h2>
            </div>
        {% endif %}
        <div class="row space-x-4 row-gap-4">
            {% set image = block.image.eagerly().one() %}
            {% if image %}
                <div class="col-12 col-lg-6">
                    <div class="visit-image position-relative overlay-bg-gradient d-flex justify-content-end flex-column" style="background-image: url({{ image.url }});">
                        <div class="book-now position-relative z-2 text-white text-center text-md-start">
                            {{ block.imageOverlappingText }}
                            <div class="group-btn mt-3 d-inline-flex flex-column gap-3">
                                {% if block.cta1 %}<a class="btn btn-transparent" href="{{ block.cta1.value }}">{{ block.cta1.label }}</a>{% endif %}
                                {% if block.cta2 %}<a class="btn btn-transparent" href="{{ block.cta2.value }}">{{ block.cta2.label }}</a>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if block.features.count() %}
                <div class="col-12 col-lg-6">
                    <div class="row space-x-4 row-gap-4">
                        {% for feature in block.features.all() %}
                            {% set icon = feature.icon.eagerly().one() %}
                            <div class="col-12 col-md-6">
                                <div class="visit-listing">
                                    <div class="d-flex gap-3">
                                        <div class="icon w-100">
                                            {% if icon and icon.extension == 'svg' %}
                                                {{ svg(icon) }}
                                            {% elseif icon %}
                                                <img src="{{ icon.url }}" width="24" alt="{{ feature.heading }}" />
                                            {% endif %}
                                        </div>
                                        <div class="">
                                            <h4 class="mb-0">{{ feature.heading|nl2br }}</h4>
                                        </div>
                                    </div>
                                    <hr class="my-3">
                                    <div class="body-content">
                                        <p>{{ feature.summary|nl2br }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>