{% set photoCollage1 = block.photoCollage.eagerly().one() %}
{% set photoCollage2 = block.photoCollage.nth(1) %}
{% set photoCollage3 = block.photoCollage.nth(2) %}
{% set photoCollage4 = block.photoCollage.nth(3) %}
{% set photoCollage5 = block.photoCollage.nth(4) %}
{% set photoCollage6 = block.photoCollage.nth(5) %}
{% set photoCollage7 = block.photoCollage.nth(6) %}
{% set photoCollage8 = block.photoCollage.nth(7) %}
{% set photoCollage9 = block.photoCollage.nth(8) %}
{% set photoCollage10 = block.photoCollage.nth(9) %}
<section class="full-width-image position-relative mx-auto">
    <div class="image-collage d-sm-flex flex-wrap flex-xl-nowrap">
            <div class="image-collage-box image-collage-1 h-100">
                {% if photoCollage1 %}
                    <img class="w-100 img-fluid object-fit-cover" src="{{ photoCollage1.url }}" alt="{{ photoCollage1.title }}">
                {% endif %}
                <div class="two-images d-flex w-100">
                    {% if photoCollage2 %}
                        <img class="img-fluid object-fit-cover" src="{{ photoCollage2.url }}" alt="{{ photoCollage2.title }}">
                    {% endif %}
                    {% if photoCollage3 %}
                        <img class="img-fluid object-fit-cover" src="{{ photoCollage3.url }}" alt="{{ photoCollage3.title }}">
                    {% endif %}
                </div>
            </div>
            <div class="image-collage-box image-collage-2">
                <div class="d-flex flex-column h-100">
                    {% if photoCollage4 %}
                        <img class="w-100 h-100 img-fluid object-fit-cover" src="{{ photoCollage4.url }}" alt="{{ photoCollage4.title }}">
                    {% endif %}
                    <div class="two-images d-flex w-100">
                        {% if photoCollage5 %}
                            <img class="img-fluid object-fit-cover" src="{{ photoCollage5.url }}" alt="{{ photoCollage5.title }}">
                        {% endif %}
                        {% if photoCollage7 %}
                            <img class="img-fluid object-fit-cover" src="{{ photoCollage7.url }}" alt="{{ photoCollage7.url }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="image-collage-box image-collage-3">
                <div class="d-flex flex-xl-column h-100">
                    {% if photoCollage8 %}
                        <img class="img-fluid object-fit-cover" src="{{ photoCollage8.url }}" alt="{{ photoCollage8.title }}">
                    {% endif %}
                    {% if photoCollage9 %}
                        <img class="img-fluid object-fit-cover" src="{{ photoCollage9.url }}" alt="{{ photoCollage9.title }}">
                    {% endif %}
                    {% if photoCollage10 %}
                        <img class="img-fluid object-fit-cover vertical-image-3" src="{{ photoCollage10.url }}" alt="{{ photoCollage10.title }}">
                    {% endif %}
                </div>
            </div>
    </div>
    {% if block.photoCollageText %}
        <div class="container">
            <div class="section-title pb-md-2 text-white position-absolute z-2 font-40 ps-sm-5">
                {{ block.photoCollageText }}
            </div>
        </div>
    {% endif %}
</section>